<% content_for :title do %>
  @page.title
<% end %>

<h2><%= @page.name %></h2>

<% if @page.columns.empty? %>
	Nenhuma coluna
<%end%>

<div id="content" class="content list">
	<table id="columns" style="table list">
		<tr>
			<th>#</th>
			<% @page.columns.list_columns.each do |column| %>
				<th><%= column.title%><th>
			<% end %>
		</tr>
		
		<% if @result.empty? %>
			Nenhum dado 
		<%end%>
		
		
		<% @result.each_with_index  do |key, index| %>
			<tr>
				<td> <%= link_to index.to_s detail_page(:id => @page.id)  %></td>
				<% @page.columns.list_columns.each do |column| %>
					<td><%= @result[column.title] %><td>
				<% end %>
			<tr>
		<% end %>
	</table>
</div>

<div id="action" class="action list">
	<% @page.actions.each do |action| %>
		<%= link_to action.title,  new_page_path(@page.id)%>
	<% end %>
</div>