<!DOCTYPE html>
<html>
<head>
  <title>DynamicViews</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <title>
	<%= yield :title %>
  </title>
</head>
<body>

<%= yield %>

</body>
</html>
